/* Home.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.root {
    -fx-background-color: #f0f0f0;
    -fx-font-family: 'Roboto', sans-serif;
}

.label {
    -fx-text-fill: #25ccbe;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}




.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
}


.top-form{
    -fx-background-color: #ffffff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}


.anchor-pane-left {
    -fx-background-color: #f5f3f3; /* White */
}


.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-text-fill:#100F0FFF;

}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;

}
.button:hover {
    -fx-background-color: transparent;
}
